/* Add your CSS styles here */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

* 
{
    box-sizing: border-box;;
}
body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 5%;
    max-height: 5%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 30px
}